src/main/mule/db-operations.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
 <flow doc:id="005ae62c-7bd6-416b-a05b-ca22499c38ee" name="dbOperations-selectQueryWithParams">
  <logger doc:id="d8c562b1-5449-4a17-b4b4-2d31df52e727" doc:name="Logger" level="INFO" message="#[flow.name] :: Start :: Payload ::#[payload]"></logger>
  <try doc:id="b11a8aae-4a01-4b4f-a3e9-d13b5e123822" doc:name="Try">
   <until-successful doc:id="997ee62a-d1c0-4288-acda-4f6fdc8a1e9b" doc:name="Until Successful" maxRetries="1" millisBetweenRetries="200">
    <db:select config-ref="Database_Config" doc:id="70ecdee6-dbcb-4fed-b1b8-cd576f654d25" doc:name="Select">
     <db:sql><![CDATA[#[payload.query]]]></db:sql>
     <db:input-parameters><![CDATA[#[payload.params]]]></db:input-parameters>
    </db:select>
   </until-successful>
			<ee:transform doc:name="Transform Message" doc:id="79b2e123-1f12-4729-927f-737114ac3a7a" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
  </try>
  <logger doc:id="fd5f7441-1ef5-43f7-b33d-bcf3b4f6d5bc" doc:name="Logger" level="INFO" message="#[flow.name] :: End :: Payload ::#[payload]"></logger>
 </flow>
 <flow doc:id="d3718c02-100a-40d3-bca6-4de158538197" name="dbOperations-selectQuery">
  <logger level="INFO" doc:name="Logger" doc:id="b17594a3-e3d5-45f1-a842-32e82ac40781" message="#[flow.name] :: Start :: Query ::#[vars.query]"/>
		<try doc:id="27c49208-3dde-494a-be33-d3fb15f5d494" doc:name="Try">
   <until-successful doc:id="fe417341-ba53-434b-84a7-7a97e0e6fdd9" doc:name="Until Successful" maxRetries="1">
    <db:select config-ref="Database_Config" doc:id="9ae2068b-0580-483a-ac98-bda43beedad2" doc:name="get Customer List">
     <db:sql><![CDATA[#[vars.query]]]></db:sql>
    </db:select>
   </until-successful>
			<ee:transform doc:name="Transform Message" doc:id="13797f7b-9ccf-4d99-92f0-556e0f650a36" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
  </try>
		<logger level="INFO" doc:name="Logger" doc:id="31d6146c-165e-4d57-a892-336d4b46c4e2" message="#[flow.name] :: End :: Payload ::#[payload]"/>
 </flow>
 
 <!-- Utility flow for handling empty data responses -->
 
 <!-- Utility flow for validating required parameters -->
 <flow doc:id="0dc3d7b6-d064-4886-a8bc-3a4f96c77f98" name="dbOperations-updateQuery">
  <logger doc:id="88e5b627-59af-4f5e-92fc-5945ca28b1bd" doc:name="Before EndUser Update" level="INFO" message="#[vars.sfAccountId]:: #[payload]"></logger>
  <try doc:id="2e978025-4688-4d2b-b39a-ec4aa200f623" doc:name="Try">
   <until-successful doc:id="222ee01c-cf5f-4c18-9c44-65c658458ea6" doc:name="Until Successful" maxRetries="1" millisBetweenRetries="200">
    <db:update config-ref="Database_Config" doc:id="59eaf97e-3ddc-46d2-96d4-d1a41c246072" doc:name="Update EndUser">
     <db:sql><![CDATA[#[payload.query]]]></db:sql>
     <db:input-parameters><![CDATA[#[payload.params]]]></db:input-parameters>
    </db:update>
   </until-successful>
  </try>
  <error-handler>
   <on-error-propagate doc:id="92236e54-8cd0-4ac9-8713-43abdb5d8af8" doc:name="On Error Propagate" enableNotifications="true" logException="true">
    <logger doc:id="34782f15-3f15-4799-bed9-03d271a29938" doc:name="Logger" level="INFO" message="#[payload]"></logger>
   </on-error-propagate>
  </error-handler>
 </flow>
<flow doc:id="eb7eb232-c90b-4r35-acbb-21b22d65bb00" name="dbOperations-executeScript">
  <logger doc:id="84c0f2c7-10d3-4c42-8a32-a10f418e366d" doc:name="Attempting to execute script" level="INFO" message="Attempting to execute Script :: #[payload]]"></logger>
  <try doc:id="356b089d-3t7d-4885-9049-c2be462260cb" doc:name="Try">
   <until-successful doc:id="2d6537cd-dbg9-4056-91d8-e98b5c6eabd6" doc:name="Until Successful" maxRetries="1" millisBetweenRetries="30000">
    <db:execute-script doc:name="Execute script" doc:id="251rk3c7-8748-4356-8ff4-2b25a0cc5df6" config-ref="Database_Config">
					<db:sql ><![CDATA[#[payload]]]></db:sql>
				</db:execute-script>
    <ee:transform doc:name="Transform Message" doc:id="84c0f2v7-00d3-4c42-8a32-a13f418e356d">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger doc:id="84c0f2c7-00d3-4c43-8a32-a13f418e366d" doc:name="after Update Serviceorder" level="INFO" message="Execute Query Response:: #[payload]]"></logger>
    
    <!-- Validate the database operation result -->

   </until-successful>
  </try>
      <choice doc:name="Check if update was successful" doc:id="update-success-check">
      <when expression="#[(payload == null) or (sizeOf(payload) &lt; 2) or payload[1] == 0]">
        <!-- Update failed - throw business error -->
        <ee:transform doc:name="Create update failed error" doc:id="update-failed-error">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: uuid(),
  message: "Database update operation failed",
  errorType: "UPDATE_FAILED",
  description: "The database update operation returned 0 affected rows",
  detailedDescription: "The update operation did not modify any records, indicating the operation failed",
  timestamp: now(),
  dbResponse: payload
}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">400</ee:set-variable>
          </ee:variables>
        </ee:transform>
        <raise-error doc:name="Raise Update Failed Error" doc:id="raise-update-error" type="APP:UPDATE_FAILED" description="Database update operation failed"/>
      </when>
      <otherwise>
        <!-- Update successful - continue with normal flow -->
        <logger level="INFO" doc:name="Update Successful" doc:id="update-success-logger" message="Database update operation completed successfully"/>
      </otherwise>
    </choice>
 </flow>
 <flow doc:id="eb7eb232-c90b-4r35-acbb-21b22d65bb00" name="dbOperations-executeQueryWithParams">
  <logger doc:id="84c0f2c7-10d3-4c42-8a32-a10f418e366d" doc:name="Attempting to execute script" level="INFO" message="Attempting to execute Script :: #[payload]]"></logger>
  <try doc:id="356b089d-3t7d-4885-9049-c2be462260cb" doc:name="Try">
   <until-successful doc:id="2d6537cd-dbg9-4056-91d8-e98b5c6eabd6" doc:name="Until Successful" maxRetries="1" millisBetweenRetries="30000">
        <db:insert doc:name="Insert" doc:id="svygnn"  config-ref="Database_Config">
            <db:sql><![CDATA[#[payload.query]]]></db:sql>
          <db:input-parameters><![CDATA[#[payload.params]]]></db:input-parameters>      
        </db:insert>
        

    <ee:transform doc:name="Transform Message" doc:id="84c0f2v7-00d3-4c42-8a32-a13f418e356d">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
        </until-successful>
      </try>
    <logger doc:id="84c0f2c7-00d3-4c43-8a32-a13f418e366d" doc:name="after Update Serviceorder" level="INFO" message="Execute Query Response:: #[payload]]"></logger>
 </flow>
</mule>
